/*For Part 3*/
article {
  position: relative;
  width: 65%;
  /*height: 450px;*/
  border: solid black 2px;
  float: right;
  background-color: #FEFAC0;
  margin-right: 5px; }

article li {
  display: inline;
  border-right: solid black 2px;
  margin-right: 10px;
  padding-right: 8px; }

article section ul {
  margin-left: 1px;
  padding-left: 20px; }

.songNameSpecial {
  font-weight: bold;
  font-size: 120%;
  padding-left: 10px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  color: brown; }

article section {
  display: inline;
  margin-top: 0px;
  margin-bottom: 0px; }

.deleteBtn {
  margin-left: 10px;
  font-size: 80%; }

.editBtn {
  margin-left: 10px;
  font-size: 80%; }


.hidden {
  display: none; }

.visible {
  display: block; }