/*For Part 2 */
fieldset {
  background-color: #4DD7FA;
  border: solid black 2px;
  width: 25%;
  height: 450px;
  line-height: 2.3;
  margin-left: 5px;
  float: left;
}

.center1 {
 float: center;
 margin: auto;
}